#root {
  max-width: 1280px;
  margin: 0 auto;
  display: block;
}

#trafficTop {
  background: black;
  width: 20px;
  height: 100px;
  border: 2px solid gray;
  border-bottom: 0px;
  border-top: 0px;
  margin: auto;
}

#trafficLight {
  background: black;
  width: 250px;
  height: 400px;
  border: 2px solid gray;
  border-radius: 10px;
  margin: auto;
}

.light {
  height: 100px;
  width: 100px;
  border: 5px solid white;
  margin: auto;
  margin-top: 25px;
  border-radius: 100%;
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

.redGlow {
  border-radius: 100%;
  box-shadow: red 0px 0px 8cap;
}

.yellowGlow {
  border-radius: 100%;
  box-shadow: yellow 0px 0px 8cap;
}

.greenGlow {
  border-radius: 100%;
  box-shadow: green 0px 0px 8cap;
}

.opacity {
  opacity: 0.5;
}